.game-details-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px #ccc solid;
    border-radius: 20px;
    margin: 0.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
    min-height: 30vh;
}

.game-details-container img {
    width: 500px;
    border-radius: 20px;
}

.game-details-container .game-details-name {
    color: #000;
    max-width: 40ch;
    word-wrap: break-word;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.game-details-container .game-details-price {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}
